In [5]:
import pyodbc
import pandas as pd

import numpy as np
from statsmodels.stats.descriptivestats import describe as desc
from statsmodels import api as sm

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('default')

import seaborn as sns

from warnings import filterwarnings as FilterOutWarnings
FilterOutWarnings("ignore")

In [13]:
def getDataFrameFromSqlServer(sql_select):
    if (len(sql_select) == 0 or sql_select == ""):
        return pd.DataFrame([])
    
    connStr = "DRIVER={ODBC Driver 17 for SQL Server};SERVER=INBOOK_X1;DATABASE=PrayerTimesDW;UID=sa;PWD=abcdE!2345;"
    conn = pyodbc.connect(connStr)
    try:
        return pd.read_sql(sql=sql_select, con=conn)
    except Exception as ex:
        print(ex)
        return pd.DataFrame([])

In [18]:
sql_1 = """
    SELECT time_date, time_fajr, time_zuhr, time_asr, time_maghrib, time_isha 
    FROM t_time_prayer_source_1 WITH(NOLOCK)
    WHERE time_date >= '2024-01-01' AND time_date <= '2024-01-31'
    ORDER BY time_date ASC;
"""
df_source_1 = getDataFrameFromSqlServer(sql_1)

In [19]:
df_source_1

     time_date time_fajr time_zuhr  time_asr time_maghrib time_isha
0   2024-01-01  06:06:00  13:19:00  16:42:00     19:16:00  20:31:00
1   2024-01-02  06:07:00  13:20:00  16:42:00     19:17:00  20:31:00
2   2024-01-03  06:07:00  13:20:00  16:43:00     19:17:00  20:32:00
3   2024-01-04  06:08:00  13:21:00  16:43:00     19:18:00  20:32:00
4   2024-01-05  06:08:00  13:21:00  16:44:00     19:18:00  20:33:00
5   2024-01-06  06:09:00  13:22:00  16:44:00     19:19:00  20:33:00
6   2024-01-07  06:09:00  13:22:00  16:44:00     19:19:00  20:34:00
7   2024-01-08  06:10:00  13:22:00  16:45:00     19:20:00  20:34:00
8   2024-01-09  06:10:00  13:23:00  16:45:00     19:20:00  20:34:00
9   2024-01-10  06:10:00  13:23:00  16:46:00     19:21:00  20:35:00
10  2024-01-11  06:11:00  13:24:00  16:46:00     19:21:00  20:35:00
11  2024-01-12  06:11:00  13:24:00  16:46:00     19:21:00  20:35:00
12  2024-01-13  06:12:00  13:24:00  16:47:00     19:22:00  20:36:00
13  2024-01-14  06:12:00  13:25:00  16:47:00     19:22:00  20:36:00
14  2024-01-15  06:13:00  13:25:00  16:47:00     19:23:00  20:36:00
15  2024-01-16  06:13:00  13:26:00  16:48:00     19:23:00  20:37:00
16  2024-01-17  06:13:00  13:26:00  16:48:00     19:23:00  20:37:00
17  2024-01-18  06:14:00  13:26:00  16:48:00     19:24:00  20:37:00
18  2024-01-19  06:14:00  13:26:00  16:49:00     19:24:00  20:37:00
19  2024-01-20  06:14:00  13:27:00  16:49:00     19:24:00  20:38:00
20  2024-01-21  06:15:00  13:27:00  16:49:00     19:25:00  20:38:00
21  2024-01-22  06:15:00  13:27:00  16:49:00     19:25:00  20:38:00
22  2024-01-23  06:15:00  13:28:00  16:50:00     19:25:00  20:38:00
23  2024-01-24  06:16:00  13:28:00  16:50:00     19:26:00  20:39:00
24  2024-01-25  06:16:00  13:28:00  16:50:00     19:26:00  20:39:00
25  2024-01-26  06:16:00  13:28:00  16:50:00     19:26:00  20:39:00
26  2024-01-27  06:17:00  13:29:00  16:50:00     19:27:00  20:39:00
27  2024-01-28  06:17:00  13:29:00  16:50:00     19:27:00  20:39:00
28  2024-01-29  06:17:00  13:29:00  16:51:00     19:27:00  20:39:00
29  2024-01-30  06:17:00  13:29:00  16:51:00     19:27:00  20:39:00
30  2024-01-31  06:17:00  13:29:00  16:51:00     19:27:00  20:40:00

In [20]:
sql_2 = """
    SELECT time_date, time_fajr, time_zuhr, time_asr, time_maghrib, time_isha 
    FROM t_time_prayer_source_2 WITH(NOLOCK)
    WHERE time_date >= '2024-01-01' AND time_date <= '2024-01-31'
    ORDER BY time_date ASC;
"""
df_source_2 = getDataFrameFromSqlServer(sql_2)

In [21]:
df_source_2

     time_date time_fajr time_zuhr  time_asr time_maghrib time_isha
0   2024-01-01  06:03:00  13:16:00  16:40:00     19:15:00  20:29:00
1   2024-01-02  06:04:00  13:17:00  16:41:00     19:15:00  20:30:00
2   2024-01-03  06:04:00  13:17:00  16:41:00     19:16:00  20:30:00
3   2024-01-04  06:05:00  13:18:00  16:42:00     19:16:00  20:31:00
4   2024-01-05  06:05:00  13:18:00  16:42:00     19:17:00  20:31:00
5   2024-01-06  06:06:00  13:19:00  16:43:00     19:17:00  20:32:00
6   2024-01-07  06:06:00  13:19:00  16:43:00     19:18:00  20:32:00
7   2024-01-08  06:07:00  13:20:00  16:44:00     19:18:00  20:32:00
8   2024-01-09  06:07:00  13:20:00  16:44:00     19:19:00  20:33:00
9   2024-01-10  06:08:00  13:21:00  16:44:00     19:19:00  20:33:00
10  2024-01-11  06:08:00  13:21:00  16:45:00     19:20:00  20:34:00
11  2024-01-12  06:09:00  13:21:00  16:45:00     19:20:00  20:34:00
12  2024-01-13  06:09:00  13:22:00  16:45:00     19:20:00  20:34:00
13  2024-01-14  06:10:00  13:22:00  16:46:00     19:21:00  20:35:00
14  2024-01-15  06:10:00  13:23:00  16:46:00     19:21:00  20:35:00
15  2024-01-16  06:11:00  13:23:00  16:47:00     19:22:00  20:35:00
16  2024-01-17  06:11:00  13:23:00  16:47:00     19:22:00  20:36:00
17  2024-01-18  06:11:00  13:24:00  16:47:00     19:22:00  20:36:00
18  2024-01-19  06:12:00  13:24:00  16:47:00     19:23:00  20:36:00
19  2024-01-20  06:12:00  13:24:00  16:48:00     19:23:00  20:36:00
20  2024-01-21  06:12:00  13:25:00  16:48:00     19:24:00  20:37:00
21  2024-01-22  06:13:00  13:25:00  16:48:00     19:24:00  20:37:00
22  2024-01-23  06:13:00  13:25:00  16:48:00     19:24:00  20:37:00
23  2024-01-24  06:13:00  13:25:00  16:49:00     19:25:00  20:37:00
24  2024-01-25  06:14:00  13:26:00  16:49:00     19:25:00  20:38:00
25  2024-01-26  06:14:00  13:26:00  16:49:00     19:25:00  20:38:00
26  2024-01-27  06:14:00  13:26:00  16:49:00     19:25:00  20:38:00
27  2024-01-28  06:15:00  13:26:00  16:49:00     19:26:00  20:38:00
28  2024-01-29  06:15:00  13:26:00  16:49:00     19:26:00  20:38:00
29  2024-01-30  06:15:00  13:27:00  16:49:00     19:26:00  20:38:00
30  2024-01-31  06:15:00  13:27:00  16:49:00     19:26:00  20:38:00

In [22]:
sql_3 = """
    SELECT time_date, time_fajr, time_zuhr, time_asr, time_maghrib, time_isha 
    FROM t_time_prayer_source_3 WITH(NOLOCK)
    WHERE time_date >= '2024-01-01' AND time_date <= '2024-01-31'
    ORDER BY time_date ASC;
"""
df_source_3 = getDataFrameFromSqlServer(sql_3)

In [23]:
df_source_3

     time_date time_fajr time_zuhr  time_asr time_maghrib time_isha
0   2024-01-01  06:06:00  13:19:00  16:42:00     19:16:00  20:31:00
1   2024-01-02  06:07:00  13:20:00  16:42:00     19:17:00  20:31:00
2   2024-01-03  06:07:00  13:20:00  16:43:00     19:17:00  20:32:00
3   2024-01-04  06:08:00  13:21:00  16:43:00     19:18:00  20:32:00
4   2024-01-05  06:08:00  13:21:00  16:44:00     19:18:00  20:33:00
5   2024-01-06  06:09:00  13:22:00  16:44:00     19:19:00  20:33:00
6   2024-01-07  06:09:00  13:22:00  16:44:00     19:19:00  20:34:00
7   2024-01-08  06:10:00  13:22:00  16:45:00     19:20:00  20:34:00
8   2024-01-09  06:10:00  13:23:00  16:45:00     19:20:00  20:34:00
9   2024-01-10  06:10:00  13:23:00  16:46:00     19:21:00  20:35:00
10  2024-01-11  06:11:00  13:24:00  16:46:00     19:21:00  20:35:00
11  2024-01-12  06:11:00  13:24:00  16:46:00     19:21:00  20:35:00
12  2024-01-13  06:12:00  13:24:00  16:47:00     19:22:00  20:36:00
13  2024-01-14  06:12:00  13:25:00  16:47:00     19:22:00  20:36:00
14  2024-01-15  06:13:00  13:25:00  16:47:00     19:23:00  20:36:00
15  2024-01-16  06:13:00  13:26:00  16:48:00     19:23:00  20:37:00
16  2024-01-17  06:13:00  13:26:00  16:48:00     19:23:00  20:37:00
17  2024-01-18  06:14:00  13:26:00  16:48:00     19:24:00  20:37:00
18  2024-01-19  06:14:00  13:26:00  16:49:00     19:24:00  20:37:00
19  2024-01-20  06:14:00  13:27:00  16:49:00     19:24:00  20:38:00
20  2024-01-21  06:15:00  13:27:00  16:49:00     19:25:00  20:38:00
21  2024-01-22  06:15:00  13:27:00  16:49:00     19:25:00  20:38:00
22  2024-01-23  06:15:00  13:28:00  16:50:00     19:25:00  20:38:00
23  2024-01-24  06:16:00  13:28:00  16:50:00     19:26:00  20:39:00
24  2024-01-25  06:16:00  13:28:00  16:50:00     19:26:00  20:39:00
25  2024-01-26  06:16:00  13:28:00  16:50:00     19:26:00  20:39:00
26  2024-01-27  06:17:00  13:29:00  16:50:00     19:27:00  20:39:00
27  2024-01-28  06:17:00  13:29:00  16:50:00     19:27:00  20:39:00
28  2024-01-29  06:17:00  13:29:00  16:51:00     19:27:00  20:39:00
29  2024-01-30  06:17:00  13:29:00  16:51:00     19:27:00  20:39:00
30  2024-01-31  06:17:00  13:29:00  16:51:00     19:27:00  20:40:00